baseURL: https://blog.alwq.xyz/
title: 机器学习与系统
theme: hugo-theme-stack
paginate: 10
languageCode: zh-CN

module:
  hugoVersion:
    extended: true
    min: "0.87.0"

# GA Tracking ID
googleAnalytics: G-MML5F47PH4

enableGitInfo: true

# enableEmoji: true
# enableInlineShortcodes: true

# Set hasCJKLanguage to true if DefaultContentLanguage is in [zh-cn ja ko]
# This will make .Summary and .WordCount behave correctly for CJK languages.
hasCJKLanguage: true

# defaultContentLanguage: cn

permalinks:
  post: /post/:filename/
  page: /:slug/

### Custom menu
### See https://docs.stack.jimmycai.com/configuration/custom-menu.html
### To remove about, archive and search page menu item, remove `menu` field from their FrontMatter
menu:
    main: []

    social:
        - identifier: github
          name: GitHub
          url: https://github.com/adolphlwq
          params:
              icon: brand-github

        - identifier: twitter
          name: Twitter
          url: https://twitter.com/adolphlwq
          params:
              icon: brand-twitter

related:
    includeNewer: true
    threshold: 60
    toLower: false
    indices:
        - name: tags
          weight: 100

        - name: categories
          weight: 200

params:
  mainSections:
    - post
  featuredImageField: image
  rssFullContent: true
  favicon: https://raw.githubusercontent.com/adolphlwq/osshub/master/oss/facivon/glider.ico

  footer:
    since: 2019
    customText:

  dateFormat:
    published: Jan 02, 2006
    lastUpdated: Jan 02, 2006 15:04 MST

  sidebar:
    # compact: false
    emoji:
    subtitle: Stay Hungry, Stay Foolish
    avatar:
      enabled: true
      local: true
      src: img/avatar.png

  article:
    math: false
    toc: true
    readingTime: false
    license:
      enabled: true
      default: Licensed under CC BY-NC-SA 4.0

  comments:
    enabled: true
    provider: waline

    disqusjs:
      shortname:
      apiUrl:
      apiKey:
      admin:
      adminLabel:

    # Waline client configuration see: https://waline.js.org/en/reference/client.html
    waline:
      serverURL: https://blogcomment-puce.vercel.app
      lang: zh-CN
      visitor: false
      avatar:
      emoji:
        # - https://unpkg.com/@waline/emojis@1.0.1/weibo
        # - https://unpkg.com/@waline/emojis@1.0.1/alus
        - https://unpkg.com/@waline/emojis@1.0.1/bilibili
        - https://unpkg.com/@waline/emojis@1.0.1/qq
        # - https://unpkg.com/@waline/emojis@1.0.1/tieba
        - https://unpkg.com/@waline/emojis@1.0.1/tw-emoji
      # Waline CSS styles CDN url, you can set this to your preferred CDN
      cssUrl: https://unpkg.com/@waline/client@v2/dist/waline.css
      # Waline library CDN url, you can set this to your preferred CDN
      libUrl: https://unpkg.com/@waline/client@v2/dist/waline.js

      requiredMeta:
        - name
        - email
        # - url
      locale:
        admin: Admin
        placeholder:

    twikoo:
      envId:
      region:
      path:
      lang:

  widgets:
    homepage:
      - type: archives
        params:
          limit: 5
      - type: categories
        params:
          limit: 10
      - type: tag-cloud
        params:
          limit: 10
    page:
      - type: toc


  opengraph:
    twitter:
      # Your Twitter username
      site:

      # Available values: summary, summary_large_image
      card: summary_large_image

  defaultImage:
    opengraph:
      enabled: false
      local: false
      src:

  colorScheme:
    # Display toggle
    toggle: true

    # Available values: auto, light, dark
    default: auto

  imageProcessing:
    cover:
      enabled: true
    content:
      enabled: true
